/* Arquivo: src/components/Header.css */
.app-header {
  background-color: var(--branco);
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: sticky; /* Faz o cabeçalho ficar fixo no topo */
  top: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px !important; /* Sobrescreve o padding do container geral */
}

.logo {
  font-size: 1.8rem;
  color: var(--cor-primaria);
  margin: 0;
}